alabaster==0.7.9
apipkg==1.4
appdirs==1.4.0
args==0.1.0
attrs==16.3.0
Babel==2.3.4
clint==0.5.1
coverage==4.0.3
cram==0.7
docutils==0.13.1
execnet==1.4.1
first==2.0.1
flake8==3.2.1
future==0.16.0
gitdb2==2.0.0
GitPython==2.1.1
imagesize==0.7.1
Jinja2==2.9.4
Mako==1.0.6
Markdown==2.4.1
MarkupSafe==0.23
mccabe==0.5.3
numpydoc==0.6.0
packaging==16.8
pdoc==0.3.2
pip-tools==1.8.0
pkginfo==1.4.1
plumbum==1.6.3
py==1.4.32
pyassert==0.4.2
pybuilder==0.11.9
pycodestyle==2.2.0
pyfix==0.2.3
pyflakes==1.3.0
Pygments==2.2.0
pypandoc==1.3.3
pyparsing==2.1.10
pytddmon==1.0.8
pytest==3.0.6
pytest-cov==2.4.0
pytest-env==0.6.0
pytest-mock==1.5.0
pytest-timeout==1.2.0
python-coveralls==2.9.0
pytz==2016.10
PyYAML==3.12
requests==2.12.5
requests-toolbelt==0.7.0
six==1.10.0
smmap2==2.0.1
snowballstemmer==1.2.1
Sphinx==1.5.2
sphinx-rtd-theme==0.1.9
tblib==1.3.0
twine==1.8.1
unittest-xml-reporting==2.1.0
Versio==0.3.0
vex==0.0.18
virtualenv==15.1.0
